.gradient-link {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  background: var(--font-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;
      height: 3px;
      width: 0;
      background: linear-gradient(145deg, var(--gradient-from), var(--gradient-to));
      transition: width .2s ease-in-out;
  }

  &:hover {
    cursor: pointer;
    background: linear-gradient(145deg, var(--gradient-from), var(--gradient-to));
    background-clip: text;

    &::after {
      width: 100%;
    }
  }
}