#main {
  grid-area: main;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: transparent;

  // svg {
  //   position: relative;

  //   path {
  //   }
  // }

  #clip {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background: linear-gradient(145deg, var(--primary), var(--secondary));
    clip-path: url(#clip-shape);
    -webkit-clip-path: url(#clip-shape);
  }
}

#content {
  background: transparent;
  position: relative;
  z-index: 2;
  height: auto;
  width: 100%;
}