#header {
  grid-area: header;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;

  .link {
    width: 100%;
    text-align: left;
    padding-left: 2rem;
    font-size: 2rem;
  }
}