#header {
  grid-area: header;
  height: 100%;
  width: 100%;
  border: 1px red solid;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    h1 {
      color: black;
      // background: black;
      // background-clip: text;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }

  // &:hover {

  //   h1 {
  //     background: linear-gradient(145deg, var(--gradient-from), var(--gradient-to));
  //     background-clip: text;
  //   }
  // }
  

  }
}