body > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#App {
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas: 
    "header header header header header"
    "sidenav main main main main"
    "sidenav main main main main"
    "sidenav main main main main"
    "sidenav main main main main"
    "sidenav main main main main"
    "sidenav main main main main"
    "sidenav main main main main";
  
}

