body > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#App {
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
  display: grid;
  grid-template-columns: 1fr repeat(4, 2fr);
  grid-template-rows: repeat(8, 2fr);
  grid-template-areas: 
    "header main main main main"
    "sidenav main main main main"
    "sidenav main main main main"
    "sidenav main main main main"
    "sidenav main main main main"
    "sidenav main main main main"
    "sidenav main main main main"
    "sidenav main main main main";
  
}

