body > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#App {
  height: 300rem;
  width: 100vw;
  background: var(--background-color);
  // display: grid;
  // grid-template-columns: 1fr repeat(4, 2fr);
  // grid-template-rows: 1fr repeat(7, 2fr);
  // grid-template-areas: 
  //   "main main main main main"
  //   "main main main main main"
  //   "main main main main main"
  //   "main main main main main"
  //   "main main main main main"
  //   "main main main main main"
  //   "main main main main main"
  //   "main main main main main";
  
}

